.heading-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 175px;
    margin-bottom: 0px;
}
.p1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 100px;
}
.hedaer{
    border: 16px;
    margin: 0  auto;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png)
    
}
main{
    max-width: 1300px;
    margin: 0px auto;
}
.heading{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.heading1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.img1{
    margin: auto;
    width: 800px;
    height: 500px;
    padding-left: 260px;
    padding-right: 255px;
    padding-bottom: 120px;
    border-radius: 5px;
    

}
.img2{
    display: flex;
    text-align: center;
}
.main{
    max-width: 1300px;
    margin: 0 auto;
}
.backpic{
    text-align: center;
    display: flex;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
}
.heading2{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7px;
width: 640px;
padding-top: 125px;
padding-left: 125;
padding-right: 555px;
padding-bottom: 0px;
}
.p3{
    width: 690px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.heading3{
    color: #FFF;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.picture{
    display: flex;
    text-align: center;
}
.mamah{
    text-align: center;
}
.text-primary{
    color: #F00;
}
.address{
    background-color: antiquewhite;
    text-align: center;
    width: 1320px;
    height: 480px;
    border: 140px;
    margin: auto;

}
.p4{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
padding: 100px 385px 210px 385px;
}
.btn{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-radius: 8px;
background: #F00;
}
.trr{
    display: inline;
}
.heading4{
    color: #F00;
text-align:left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heading5{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}
.sit{
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.heading6{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.amet{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.img3{
    width: 140px;
height: 140px;
flex-shrink: 0;
}
.img4{
    border-radius: 463px;
border: 15px solid #F00;
width: 463px;
height: 463px;
flex-shrink: 0;
}
.hotel{
    margin: auto;
    display: flex;
    width: 1320px;
    height: 600px;
    background-color: azure;
    
}
.heading7{
    text-align:center;
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heading8{
    text-align: center;
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.sum{
    width: 1060px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}
.park{
    width: 1300px;
    height: 700px;
}
.holi{
    margin-bottom: 15px;
    display: flex;
    background-image: url(../resources/Rectangle\ 2.png);
    bottom: 10px;
    width: 1300px;
    max-height: 220px;
}
.img5{
    width: 278.09px;
height: 333.424px;
flex-shrink: 0;
fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
background-blend-mode: screen;
mix-blend-mode: screen;
}
.img6{
    width: 206.841px;
height: 206.841px;
flex-shrink: 0;
}
.img7{
    width: 429px;
height: 433px;
flex-shrink: 0;
border-radius: 16px 16px 0px 0px;
background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;
}
.heading9{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heading10{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sed{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.rect{
    display: flex;
}
.img8{
    margin-bottom: 24px;
    margin-right: 24px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
}
.img9{
    margin-right: 24px;
    margin-bottom: 24px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.img10{
    margin-bottom: 24px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.rect2{
    display: flex;
}
.img11{
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.img12{
    margin-right: 24px;
    margin-bottom: 22px;
    width: 424px;
height: 450px;
flex-shrink: 0;
}
.img13{
    margin-bottom: 22px;
    width: 424px;
height: 450px;
flex-shrink: 0;
}
.subs{
    background-color: bisque;
    width: 1320px;
    height: 610px;
    flex-shrink: 0;
}
.img14{
    padding-top: 80px;

    
}
.heading11{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.risus{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.new{
    text-align: center;
}
.user{
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.last{
    margin: auto;
    background-color: #070211;
    width: 1300px;
height: 609px;
flex-shrink: 0;
}
.foot{
    display: flex;
    margin-top: 15px;
}
.para{
    margin-left: 100px;
    margin-top: 100px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.para1{
    margin-top: 120px;
    margin-left: 650px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.fff{
    text-align: center;
}
.cri{
    display: flex;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.uf{
    text-align: left;
    margin-top:180px ;
    margin-left: 100px;
}
.uff{
    margin-left: 750px;
    margin-top: 180px;
    text-align: right;
}